.video_card{
  padding: 10px;
  display: inline-block;
  width: 400px;
  height: 500px;
  border: 1px solid black;
}

video {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.fa-heart{
  float: right;
  color: deeppink;
}
.videotagcontainer {
  display: inline-block;
  text-align: center;
  margin: 2px;
  width :70px;
  padding: 2%;
  background-color: dodgerblue;
  border-radius: 4px;
}

.video_tags span {
  display: inline-block;
}

.vidoe_description span{
  display: inline-block;
  margin-top: 12px;
  font-size: 20px;
  width: auto;
}
