<div class="display">
  <app-search></app-search>

<!--  use a loop to fetch data from the json data and display content-->
  <div class="video_content">
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
    <app-video-card class ="content"></app-video-card>
  </div>
</div>
